# Flutter/Dart 기본
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.env
# 빌드 산출물
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.lock
*.log
*.json
*.csv
*.ipynb

# Android
android/.gradle/
android/captures/
android/.idea/
*.iml

# iOS/macOS
ios/Pods/
ios/.s  ymlinks/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# IDE
.idea/
.vscode/
*.swp

# 시스템 파일
.DS_Store
Thumbs.db

# 테스트 임시 파일
coverage/
*.coverage
*.lcov

# 기타 사용하지 않는 출력물
pubspec.lock
