name: openfit
description: GPT 기반 헬스케어 채팅 앱
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  path_provider: ^2.1.1
  flutter_localizations:
    sdk: flutter  
  intl: ^0.20.2
  http: ^0.13.6
  table_calendar: ^3.0.9
  collection: ^1.17.1
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  hive_generator: ^2.0.1
  build_runner: ^2.4.6

flutter:
  uses-material-design: true
  generate: true  
